# Autotools
/autom4te.cache
/stamp-h1
/config.status
/config.log
/config.h
Makefile
libtool
Makefile.in
configure
config.h.in
aclocal.m4
INSTALL
build-aux/
*~
*.o
*.la
*.so*
*.a
*.tar*
*.zip
*.lo
.deps
.libs
